<h1>Welcome to the Finance Tracker app</h1>
<p>Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl. A ordem dos tratores não altera o pão duris. Quem manda na minha terra sou euzis! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
